repos:
# Generic Checks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    # Git style
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-vcs-permalinks
    - id: forbid-new-submodules
    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    # Cross platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']

# Git secrets Leaks
- repo: https://github.com/awslabs/git-secrets.git
  rev: b4a3208756632bfb87e37ba085c792863deccc74
  hooks:
    - id: git-secrets
# scan readme files
- repo: https://github.com/markdownlint/markdownlint
  rev: 41fc308f0d7f2647f0ae2c2d3826f48e42d964f4
  hooks:
    - id: markdownlint
      name: Markdownlint
      description: Run markdownlint on your Markdown files
      entry: mdl
      args: [-s, .markdownlint.rb]
      language: ruby
      files: \.(md|mdown|markdown)$
